<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SI No</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products$ | async; let i=index">
                    <td >{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
